4-LeadTracker/leadtracker/__pycache__/
4-LeadTracker/digital/__pycache__/

5-Buyem/shop/__pycache__/
5-Buyem/buyem/__pycache__/

9-CampaignManagementSystem/Backend/.settings/
9-CampaignManagementSystem/Backend/target/Capstone-Backend-1.0-SNAPSHOT.jar
9-CampaignManagementSystem/Backend/target/Capstone-Backend-1.0-SNAPSHOT.jar.original

9-CampaignManagementSystem/Project/capstone-frontend/node_modules/
9-CampaignManagementSystem/Project/capstone-frontend/.settings/
9-CampaignManagementSystem/Project/capstone-frontend/dist
9-CampaignManagementSystem/Project/capstone-frontend/tmp
9-CampaignManagementSystem/Project/capstone-frontend/out-tsc
9-CampaignManagementSystem/Project/capstone-frontend/bazel-out
9-CampaignManagementSystem/Project/capstone-frontend/chrome-profiler-events*.json
9-CampaignManagementSystem/Project/capstone-frontend/speed-measure-plugin*.json
9-CampaignManagementSystem/Project/capstone-frontend/.idea
9-CampaignManagementSystem/Project/capstone-frontend/.project
9-CampaignManagementSystem/Project/capstone-frontend/.classpath
9-CampaignManagementSystem/Project/capstone-frontend/.c9/
9-CampaignManagementSystem/Project/capstone-frontend/*.launch
9-CampaignManagementSystem/Project/capstone-frontend/.settings/
9-CampaignManagementSystem/Project/capstone-frontend/*.sublime-workspace
9-CampaignManagementSystem/Project/capstone-frontend/.vscode/*
9-CampaignManagementSystem/Project/capstone-frontend/!.vscode/settings.json
9-CampaignManagementSystem/Project/capstone-frontend/!.vscode/tasks.json
9-CampaignManagementSystem/Project/capstone-frontend/!.vscode/launch.json
9-CampaignManagementSystem/Project/capstone-frontend/!.vscode/extensions.json
9-CampaignManagementSystem/Project/capstone-frontend/.history/*
9-CampaignManagementSystem/Project/capstone-frontend/.sass-cache
9-CampaignManagementSystem/Project/capstone-frontend/connect.lock
9-CampaignManagementSystem/Project/capstone-frontend/coverage
9-CampaignManagementSystem/Project/capstone-frontend/libpeerconnection.log
9-CampaignManagementSystem/Project/capstone-frontend/npm-debug.log
9-CampaignManagementSystem/Project/capstone-frontend/yarn-error.log
9-CampaignManagementSystem/Project/capstone-frontend/testem.log
9-CampaignManagementSystem/Project/capstone-frontend/typings
9-CampaignManagementSystem/Project/capstone-frontend/.DS_Store
9-CampaignManagementSystem/Project/capstone-frontend/Thumbs.db


