4-LeadTracker/leadtracker/__pycache__/
4-LeadTracker/digital/__pycache__/
5-Buyem/shop/__pycache__/
5-Buyem/buyem/__pycache__/
9-CampaignManagementSystem/Backend/.settings/
9-CampaignManagementSystem/Project/capstone-frontend/node_modules/