{% extends 'base.html' %}

{% block headsec %}
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 10%; margin-top: 4%;">
  {% for i in product %}
        <h1 class="my-4">{{i.name}}
                <!-- <small>Secondary Text</small> -->
              </h1>
            
              <!-- Portfolio Item Row -->
              <div class="row">
            
                <div class="col-md-8">
                  <img class="img-fluid" src="{{i.product_pic.url}}" alt="{{i.id}}">
                </div>
            
                <div class="col-md-4">
                  <h3 class="my-3">Product Description: <br>{{i.description}}</h3>
                  <p>{{i.category}}</p>
                  <h3 class="my-3">Price: {{i.cost}}</h3>
                  <ul>
                    <li>No. of items available: {{i.no_of_item}}</li>
                    <!-- <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li> -->
                  </ul>
                </div>
              </div>
              <div style="text-align: center; margin: 2%;">
                <form method="POST">
                  {% csrf_token %}
                  <div>
                    <label>Delivery Address:</label>
                    <input type="text" name="address" class="form-control input_user" value="{{del_add}}" placeholder="Delivery Address">
                    <button type="submit" class="btn btn-primary btn-lg">Place Order</button>
                  </div>
                </form>
              </div>
  {% endfor %}
</div>
{% endblock %}