.survey-details {
    border: 1.5px solid white;
    border-radius: 5px;
    margin-top: 1rem;
    padding: .5rem;
    color: rgb(50, 130, 156);

    -webkit-box-shadow: -7px -7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -7px -7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -7px -7px 5px 0px rgba(50, 50, 50, 0.75);
    background-color: white;
    /* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
; */

  
  
  /* min-height: 200px; */
  /* width: 50vw; */
  /* margin: 50px auto; */
  /* background: white;
  border-radius: 5px; */
}

.form-details{
    text-decoration: underline;
}

.htmlData{
  display: none;
}